name: PR Tests

on:
 pull_request:
  branches: [main]

jobs:
 lint-and-build:
  runs-on: ubuntu-latest

  steps:
   - uses: actions/checkout@v4
   - uses: actions/setup-node@v4
     with:
      node-version: '20'
      cache: 'npm'
   - run: npm ci
   - run: npm run lint
     continue-on-error: true
   - run: npx tsc --noEmit
     continue-on-error: true
   - run: npm run build
   - run: npm run test:ci

 docker-build-test:
  runs-on: ubuntu-latest
  needs: lint-and-build # optional, if you want to wait for lint job to finish

  steps:
   - uses: actions/checkout@v4

   # Detect file changes
   - name: Detect file changes
     id: filter
     uses: dorny/paths-filter@v3
     with:
      filters: |
       dockerfile:
         - 'Dockerfile'

   # Only run this step if Dockerfile changed
   - name: Set up Docker Buildx
     if: steps.filter.outputs.dockerfile == 'true'
     uses: docker/setup-buildx-action@v3

   - name: Build Docker image (test only)
     if: steps.filter.outputs.dockerfile == 'true'
     uses: docker/build-push-action@v5
     with:
      context: .
      push: false
      tags: secret-santa-test:pr-${{ github.event.pull_request.number }}
      cache-from: type=gha
      cache-to: type=gha,mode=max
